In [1]:
import os
import re
import csv
import pandas as pd
from bs4 import BeautifulSoup as bs

In [140]:
def open_file(x):
    with open('./13D/'+x) as f:
        return bs(f.read(),'html.parser').text

In [3]:
files = os.listdir('./13D/')

In [4]:
len(files)

903140

In [291]:
link = pd.read_csv('cusip-cik.csv',names=['date','cik','cusip','filename'])
link[link.cusip.isna()]

            date      cik cusip                     filename
69    1995-08-30  1000036   NaN   1000036_1995-08-30_13D.txt
70    1995-08-30  1000037   NaN   1000037_1995-08-30_13D.txt
71    1996-01-30  1000037   NaN   1000037_1996-01-30_13D.txt
72    1996-02-26  1000037   NaN  1000037_1996-02-26_13DA.txt
73    1996-02-27  1000037   NaN  1000037_1996-02-27_13DA.txt
74    1995-08-30  1000038   NaN   1000038_1995-08-30_13D.txt
75    1996-01-30  1000038   NaN   1000038_1996-01-30_13D.txt
76    1996-02-26  1000038   NaN  1000038_1996-02-26_13DA.txt
77    1996-02-27  1000038   NaN  1000038_1996-02-27_13DA.txt
78    1995-08-30  1000039   NaN   1000039_1995-08-30_13D.txt
79    1996-01-30  1000039   NaN   1000039_1996-01-30_13D.txt
80    1996-02-26  1000039   NaN  1000039_1996-02-26_13DA.txt
81    1996-02-27  1000039   NaN  1000039_1996-02-27_13DA.txt
82    1995-08-30  1000040   NaN   1000040_1995-08-30_13D.txt
83    1996-01-30  1000040   NaN   1000040_1996-01-30_13D.txt
84    1996-02-26  1000040   NaN  1000040_1996-02-26_13DA.txt
85    1996-02-27  1000040   NaN  1000040_1996-02-27_13DA.txt
168   1996-12-04  1000079   NaN   1000079_1996-12-04_13D.txt
244   1996-04-09  1000097   NaN   1000097_1996-04-09_13D.txt
363   1997-09-10  1000098   NaN  1000098_1997-09-10_13GA.txt
364   1997-10-14  1000098   NaN   1000098_1997-10-14_13D.txt
379   2002-02-20  1000157   NaN   1000157_2002-02-20_13D.txt
398   2000-10-27  1000166   NaN   1000166_2000-10-27_13D.txt
399   2002-06-13  1000166   NaN  1000166_2002-06-13_13DA.txt
404   1999-04-29  1000168   NaN   1000168_1999-04-29_13D.txt
413   1998-02-06  1000177   NaN   1000177_1998-02-06_13D.txt
460   1997-02-14  1000180   NaN  1000180_1997-02-14_13GA.txt
583   2014-02-03  1000184   NaN  1000184_2014-02-03_13GA.txt
585   2015-02-02  1000184   NaN  1000184_2015-02-02_13GA.txt
589   2016-01-27  1000184   NaN  1000184_2016-01-27_13GA.txt
...          ...      ...   ...                          ...
1757  2006-08-23  1000383   NaN   1000383_2006-08-23_13D.txt
1758  2006-08-31  1000383   NaN  1000383_2006-08-31_13DA.txt
1759  2006-09-19  1000383   NaN  1000383_2006-09-19_13DA.txt
1760  2006-09-20  1000383   NaN  1000383_2006-09-20_13DA.txt
1761  2006-10-11  1000383   NaN  1000383_2006-10-11_13DA.txt
1770  2007-08-28  1000383   NaN  1000383_2007-08-28_13DA.txt
1773  2007-12-20  1000383   NaN  1000383_2007-12-20_13DA.txt
1776  2008-11-10  1000383   NaN  1000383_2008-11-10_13DA.txt
1806  1996-05-15  1000390   NaN  1000390_1996-05-15_13DA.txt
1807  1996-07-22  1000390   NaN   1000390_1996-07-22_13D.txt
1810  1997-04-02  1000390   NaN  1000390_1997-04-02_13DA.txt
1817  2000-04-11  1000401   NaN   1000401_2000-04-11_13D.txt
1818  2000-05-04  1000401   NaN  1000401_2000-05-04_13DA.txt
1819  2000-07-17  1000401   NaN  1000401_2000-07-17_13DA.txt
1820  2000-08-11  1000401   NaN  1000401_2000-08-11_13DA.txt
1821  2000-08-29  1000401   NaN  1000401_2000-08-29_13DA.txt
1822  2000-10-20  1000401   NaN  1000401_2000-10-20_13DA.txt
1823  2000-12-05  1000401   NaN  1000401_2000-12-05_13DA.txt
1824  2001-01-24  1000401   NaN  1000401_2001-01-24_13DA.txt
1825  2001-02-12  1000401   NaN  1000401_2001-02-12_13DA.txt
1826  2001-04-10  1000401   NaN  1000401_2001-04-10_13DA.txt
1827  2001-07-10  1000401   NaN  1000401_2001-07-10_13DA.txt
1828  2001-08-20  1000401   NaN  1000401_2001-08-20_13DA.txt
1829  2002-07-11  1000401   NaN  1000401_2002-07-11_13DA.txt
1830  2005-06-23  1000401   NaN  1000401_2005-06-23_13DA.txt
1831  2005-12-15  1000401   NaN  1000401_2005-12-15_13DA.txt
1832  2008-04-09  1000401   NaN  1000401_2008-04-09_13DA.txt
1833  2008-10-30  1000401   NaN  1000401_2008-10-30_13DA.txt
1834  2010-01-14  1000401   NaN  1000401_2010-01-14_13DA.txt
1835  2010-10-28  1000401   NaN  1000401_2010-10-28_13DA.txt

[113 rows x 4 columns]

In [299]:
with open('cusip-cik.csv','w') as w:
    wr = csv.writer(w)
    for m,file in enumerate(files):
        if m%10000 == 0:
            print(m)
        cusip = None
#         if file != test_file:
#             continue
        with open(f'./13D/{file}','r') as f:
#             print(file)
            try:
                txt = bs(f.read(),'html.parser').text
            except:
                txt = bs(f.read(),'lxml').text
            txt = re.sub('\s+',' ',txt).replace('-','').replace('_','')
            txt = re.sub('(NUMBER)(?![0-9A-Z])','',txt,flags=re.I)
            txt = re.sub('(NO)(?![0-9A-Z])','',txt,flags=re.I)
            splits = re.split('CUSIP',txt,re.I)
#             for x in splits:
#                 print(x,'\n-------------------------------------------\n')
            for n, split in enumerate(splits):
                potential = []
                if n>0:
                    for p,letter in enumerate(split):
#                         print(n,p,letter, potential, split[p+1])                      
                        if (p>20) or (p == len(split)-1):
                            break
                        if re.search('[a-z\.\,\(\)\:]',letter):
                            potential = []
                        if re.search('[0-9A-Z]',letter):
                            potential.append(letter)
                        
                        if len(potential) == 8:
#                             print(potential)
                            if re.search('\d',split[p+1]):
                                potential.append(split[p+1])
                                p = p + 1
                                break
                            else:
                                break
#                     print(potential)
                    forward_letter = split[p+1] if (p+1) < len(split) else ''
#                     print('---------',forward_letter)
                    if (not re.search('[0-9A-Z]',forward_letter)) and \
                        re.search('\d',''.join(potential)) and \
                        (len(potential) in (8,9)):
#                             print(potential)
                            cusip = ''.join(potential)
                            break
            if cusip is None:# It failed to capture cusip, we do backward looking
                forward_letter = ''
                for n, split in enumerate(splits):
                    potential = []
#                     print(split,'\n----------------------\n')
                    if n < len(splits):
                        reverse_split = split[::-1]
                        for p,letter in enumerate(reverse_split):
#                             print(n,p,letter,potential)
                            if (p>20) or (p == len(reverse_split)-1):
                                break
                            if re.search('[a-z\.\,\(\)\:]',letter):
                                potential = []
                            if re.search('[0-9A-Z]',letter):
                                potential.append(letter)
                            if len(potential) == 8:
                                if re.search('[0-9A-Z]',reverse_split[p+1]):
                                    potential.append(reverse_split[p+1])
                                    p = p + 1
                                    break
                                else:
                                    break  
                    forward_letter = reverse_split[p+1] if (p+1) < len(split) else ''
                    if (not re.search('[0-9A-Z]',forward_letter)) and \
                        re.search('\d',''.join(potential)) and \
                        (len(potential) in (8,9)):
                        cusip = ''.join(potential)[::-1]
#                         print(cusip)
                        break
                        
                    
            cik,date = file.split('_')[0], file.split('_')[1]
#             print(cik,date,cusip,file)
            wr.writerow([date,cik,cusip,file])

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000